<section class="">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <img
          class="w-3/4 mx-auto mb-6 max-w-[250px]"
          src="../../assets/Logo_Kokoro.webp"
          alt="logo"
        />
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Inicia sesión para eliminar tu cuenta
        </h1>
        <div id="googleSignIn" class="w-full flex justify-center"></div>
        <div class="inline-flex items-center justify-center w-full">
          <hr class="w-full h-px bg-gray-300 border-0 dark:bg-gray-700" />
          <span
            class="absolute px-3 font-medium text-gray-700 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-800"
            >o</span
          >
        </div>
        <form
          class="space-y-4 md:space-y-6"
          action="#"
          (ngSubmit)="handleSubmit($event)"
        >
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              [(ngModel)]="email"
              value="{{ email }}"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="ejemplo@email.com"
              required=""
              [disabled]="isLoading"
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Contraseña</label
            >
            <input
              type="password"
              name="password"
              id="password"
              autocomplete="current-password"
              [(ngModel)]="password"
              value="{{ password }}"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              required=""
              [disabled]="isLoading"
            />
          </div>
          <button
            type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700"
            [disabled]="isLoading"
          >
            Iniciar Sesión
          </button>
        </form>
      </div>
    </div>
  </div>
  @if (showModal) {
  <app-modal
    [(isLoading)]="isLoading"
    [(showModal)]="showModal"
    [(isError)]="isError"
    [(errorMessage)]="errorMessage"
  />
  }
</section>
